.body{
    text-align: center;
}
.table{
    border: 2px solid black;
    height: 700px;
    width: 700px;
    border-spacing: 0px;
}
.row{
    border: 2px solid black;
}
.data{
    border: 2px solid black;
    padding: 0px;
}