.body{
    text-align: center;
}
.table{
    border: 2px solid black;
    height: 500px;
    width: 500px;
    border-spacing: 0px;
    margin: 0px;
}
.row{
    border: 2px solid black;
}
.data{
    border: 2px solid black;
    padding: 0px;
}
.menu {
    position: absolute;
    left: 600px
}
.redData{
    border: 2px solid black;
    padding: 0px;
    background-color: red;
}
.display {
    border: solid 2px #000;
    height: 20px;
    max-width: 200px;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
    margin-right:  10px;
    margin-left: 10px;
    line-height: 20px;
    text-align: center;
    border-radius: 15%;
}
.name {
    height: 20px;
    max-width: 200px;
    padding: 10px;
    display: block;
    margin-top: 10px;
    margin-right:  10px;
    margin-left: 10px;
    line-height: 20px;
    border-radius: 25%;
}
.smallButton {
    display: inline;
    vertical-align: middle;
    line-height: 20px;
    margin: 35px 10px;
    padding: 20px 20px;
    border-radius: 25%;
    cursor: pointer;
    border: solid 2px #000;
}
.smallButton:hover {
    background-color: black;
    color: white;
}
.smallButton:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}